#availableOn {
  background-color: #1A1A1A;

  .details {
    padding: 1.5em 0;
  }

  h2, p {
    color: white;
  }

  .icon {
    padding: 3em 0;
    color: $primarycolor;
    border-left: 1px solid #000;
    &:last-child {
      border-right: 1px solid #000;
    }
  }

  /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

      .details {
        padding: 4.5em 3em 4.5em 0;
      }

      .icon {
        padding: 7em 0;
      }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}
