#counter {
  // padding: 8em 0;
  padding: 4em 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));

  .count-info {
    margin: 2.5em 0;

    .fa {
      color: $primarycolor;
    }

    h2, p {
      font-family: $secondary-font;
      color: darken(white, 5%);
    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
    }
    p {
      // font-size: 1.2em;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }

  /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

      .count-info {
        h2 {
          font-size: 2.5em;
        }

        p {
          font-size: 1.2em;
        }
      }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}
