#counter {
  padding: 8em 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));


  .fa {
    color: $primarycolor;
  }

  h2, p {
    font-family: $secondary-font;
    color: darken(white, 5%);
  }

  h2 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.2em;
    text-transform: uppercase;
  }

}
