#download {
  font-size: 1.2em;
  text-align: center;

  background-color: #1A1A1A;
  padding: 6em 0 3em;
  color: white;
  button {
    margin: 3em 0;
    color: white;
    background-color: $primarycolor;
    &:hover {
      @include transition;
      background-color: #FE6A7F
    }
  }

  /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}
