#download {
  font-size: 1.2em;
  text-align: center;

  background-color: #1A1A1A;
  padding: 6em 0 3em;
  color: white;
  button {
    margin: 3em 0;
    color: white;
    background-color: $primarycolor;
    &:hover {
      @include transition;
      background-color: #FE6A7F
    }
  }
}
