footer {
  color: white;
  background-color: #1A1D22;
  padding: 4em;

  span {
    color: $primarycolor;
    font-weight: bold;
  }

  .copyright, .to-top {
    display: inline-block;
    font-weight: 600;
  }

  .to-top {
    background-color: $primarycolor;
    padding: 1em 1.5em;
  }
}
