#landing {
  width: 98.93vw;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));

  .logo {
    margin: 0.5rem 0 3.7em;

    img {
      width: 8em;
      height: 3.5em;
    }

  }

  .heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.4em;
    margin: 1em 0 0.5em;
  }

  .buttons {
    margin: 6em 0;
    .fa {
      font-size: 14px;
      transform:translateY(-25%);
    }
  }

  .iphone {
    right: 0;
    img {
      height: 32em;
    }
  }

}
