#navbar {
  background-color: rgba(59, 59, 59, 0.701961);
  font-size: 0.9em;
  // opacity: 0;
  margin-top: -100px;
  border-color: transparent;

  .navbar-brand {
    padding: 0.5em;
    img {
      width: 5em;
      height: 2em;
    }
  }

  a {
    color: darken(white, 20%);

    &:hover {
      color: $primarycolor;
    }
  }

  /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}
