#screenshots{
  #owl-carousel {
    margin-bottom: 5em;
    .item {
      margin: 0 5em 3em;
      img {
        display: block;
        height: auto;
      }
    }

    .owl-page span {
      background-color: transparent;
      border: 1px solid $primarycolor;
    }
    .owl-page.active span {
      background-color: $primarycolor;

    }
  }


  /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
  
}
