#testimonials {
  // padding: 7em 0;
  color: white;

  #carousel {
    margin: 6em 0 3em;
  }

  .carousel-inner {
    padding-bottom: 3em;
  }

  img {
    margin: 0 auto;
  }

  .img-thumbnail {
    background-color: transparent;
    border: 3px solid $primarycolor;
    padding: 3px;
  }

  .name {
    font-weight: 900;
    color: $primarycolor;
  }

  .job {
    color: $primarycolor;
    font-weight: 500;
    font-size: 1.1em;
    em {
      font-weight: 300;
      color: white;
    }
  }

  .testimonal {
    margin: 3em 0;
  }

  .carousel-indicators li {
    border-color: $primarycolor;
    width: 12px;
    height: 12px;
  }

  .carousel-indicators .active {
    background-color: $primarycolor;
  }


}
