#video {
  background-color: #E4E4E4;
  padding: 3em 0 5.5em;

  .button {

    text-align: center;

    .feature {
      text-transform: uppercase;
      font-size: 0.9em;
      padding: 12px 2em;
      border-radius: 4px;
      font-family: $primary-font;
      background-color: transparent;
      border-color: lighten(black, 50%);

      &:hover {
        background-color: $primarycolor;
        color: white;
        border-color: transparent;
        @include transition(0.5s);
      }
    }

  }

  .video {
    margin-top: 2em;
    iframe {
      height: 115%;
      padding: 5px;
      border: 1px solid lighten(black, 50%);
    }

    figure {
      margin: 0;
    }
  }


  /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      padding: 4em 0 8.5em;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

}
