@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* line 4, ../../../components/sass/_common.scss */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif; }

/* line 3, ../../../components/sass/_resuableCode.scss */
.btn-custom {
  background-color: transparent;
  font-size: 1.1em;
  padding: 12px 2em;
  border-radius: 4px;
  font-family: "Raleway", sans-serif; }

/* line 11, ../../../components/sass/_resuableCode.scss */
.btn-outline {
  border-color: #F39C12;
  color: #F39C12; }

/* line 16, ../../../components/sass/_resuableCode.scss */
.btn-outline:hover {
  background-color: #F39C12;
  color: white;
  border-color: transparent;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

/* line 23, ../../../components/sass/_resuableCode.scss */
.btn-blank {
  border-color: transparent;
  color: #F39C12; }
  /* line 27, ../../../components/sass/_resuableCode.scss */
  .btn-blank span {
    color: white;
    margin-right: 0.6em; }

/* line 32, ../../../components/sass/_resuableCode.scss */
.btn-blank:hover {
  color: inherit;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  /* line 34, ../../../components/sass/_resuableCode.scss */
  .btn-blank:hover span {
    color: #F39C12; }

/* line 42, ../../../components/sass/_resuableCode.scss */
.underline-center::after, .underline-left::after {
  content: "";
  display: block;
  background: #F39C12;
  height: 1px;
  max-width: 2.3em;
  width: 100%;
  margin: 0.8em auto; }

/* line 52, ../../../components/sass/_resuableCode.scss */
.underline-left::after {
  margin: 0.4em 0; }

/* line 58, ../../../components/sass/_resuableCode.scss */
.tagline {
  text-transform: uppercase;
  font-weight: 800;
  padding-right: 9em; }

/* line 64, ../../../components/sass/_resuableCode.scss */
.info {
  margin: 1.5em 0;
  font-size: 1.2em; }

/* line 1, ../../../components/sass/_landing.scss */
#landing {
  width: 98.93vw;
  height: 100vh;
  color: white; }
  /* line 6, ../../../components/sass/_landing.scss */
  #landing .logo {
    margin: 0.5rem 0 3.7em; }
    /* line 9, ../../../components/sass/_landing.scss */
    #landing .logo img {
      width: 8em;
      height: 3.5em; }
  /* line 16, ../../../components/sass/_landing.scss */
  #landing .heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.4em;
    margin: 1em 0 0.5em; }
  /* line 24, ../../../components/sass/_landing.scss */
  #landing .buttons {
    margin: 6em 0; }
    /* line 26, ../../../components/sass/_landing.scss */
    #landing .buttons .fa {
      font-size: 14px;
      transform: translateY(-25%); }
  /* line 32, ../../../components/sass/_landing.scss */
  #landing .iphone {
    right: 0; }
    /* line 34, ../../../components/sass/_landing.scss */
    #landing .iphone img {
      height: 32em; }

/* line 1, ../../../components/sass/_aboutUs.scss */
#about-us {
  background-color: #F1F1F1; }
  /* line 4, ../../../components/sass/_aboutUs.scss */
  #about-us .section-details {
    margin: 7em 0; }
    /* line 7, ../../../components/sass/_aboutUs.scss */
    #about-us .section-details .section-heading {
      text-transform: uppercase;
      font-weight: 300; }
    /* line 12, ../../../components/sass/_aboutUs.scss */
    #about-us .section-details .section-info {
      font-size: 1.2em;
      padding: 0 3em; }
  /* line 19, ../../../components/sass/_aboutUs.scss */
  #about-us .image {
    padding-left: 3em; }
  /* line 23, ../../../components/sass/_aboutUs.scss */
  #about-us .best-points {
    margin-top: 4em; }
    /* line 26, ../../../components/sass/_aboutUs.scss */
    #about-us .best-points .icon {
      float: left;
      line-height: 7em;
      margin-right: 2em;
      color: #b3b3b3; }
    /* line 33, ../../../components/sass/_aboutUs.scss */
    #about-us .best-points .best-point {
      margin: 2.5em 0; }
      /* line 36, ../../../components/sass/_aboutUs.scss */
      #about-us .best-points .best-point .point h3 {
        font-weight: 800; }
      /* line 40, ../../../components/sass/_aboutUs.scss */
      #about-us .best-points .best-point .point p {
        font-weight: 200;
        font-size: 0.9em; }

/* line 1, ../../../components/sass/_video.scss */
#video {
  background-color: #E4E4E4;
  padding: 8em 0; }
  /* line 5, ../../../components/sass/_video.scss */
  #video .feature {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 12px 2em;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    background-color: transparent;
    border-color: gray; }
    /* line 14, ../../../components/sass/_video.scss */
    #video .feature:hover {
      background-color: #F39C12;
      color: white;
      border-color: transparent;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  /* line 23, ../../../components/sass/_video.scss */
  #video .video iframe {
    height: 115%;
    padding: 5px;
    border: 1px solid gray; }
  /* line 28, ../../../components/sass/_video.scss */
  #video figure {
    margin: 0; }

/* line 1, ../../../components/sass/_testimonial.scss */
#testimonials {
  color: white; }
  /* line 5, ../../../components/sass/_testimonial.scss */
  #testimonials #carousel {
    margin: 6em 0 3em; }
  /* line 9, ../../../components/sass/_testimonial.scss */
  #testimonials .carousel-inner {
    padding-bottom: 3em; }
  /* line 13, ../../../components/sass/_testimonial.scss */
  #testimonials img {
    margin: 0 auto; }
  /* line 17, ../../../components/sass/_testimonial.scss */
  #testimonials .img-thumbnail {
    background-color: transparent;
    border: 3px solid #F39C12;
    padding: 3px; }
  /* line 23, ../../../components/sass/_testimonial.scss */
  #testimonials .name {
    font-weight: 900;
    color: #F39C12; }
  /* line 28, ../../../components/sass/_testimonial.scss */
  #testimonials .job {
    color: #F39C12;
    font-weight: 500;
    font-size: 1.1em; }
    /* line 32, ../../../components/sass/_testimonial.scss */
    #testimonials .job em {
      font-weight: 300;
      color: white; }
  /* line 38, ../../../components/sass/_testimonial.scss */
  #testimonials .testimonal {
    margin: 3em 0; }
  /* line 42, ../../../components/sass/_testimonial.scss */
  #testimonials .carousel-indicators li {
    border-color: #F39C12;
    width: 12px;
    height: 12px; }
  /* line 48, ../../../components/sass/_testimonial.scss */
  #testimonials .carousel-indicators .active {
    background-color: #F39C12; }

/* line 1, ../../../components/sass/_download.scss */
#download {
  background-color: #1A1A1A;
  padding: 6em 0;
  color: white; }
  /* line 5, ../../../components/sass/_download.scss */
  #download button {
    color: white;
    background-color: #F39C12; }
    /* line 8, ../../../components/sass/_download.scss */
    #download button:hover {
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
      background-color: #FE6A7F; }

/*# sourceMappingURL=style.css.map */
