@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
/* line 5, ../../../components/sass/_common.scss */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif; }

/* line 2, ../../../components/sass/_resuableCode.scss */
.btn-custom {
  background-color: transparent;
  font-size: 1.1em;
  padding: 12px 2em;
  border-radius: 4px;
  font-family: "Raleway", sans-serif; }

/* line 10, ../../../components/sass/_resuableCode.scss */
.btn-outline {
  border-color: #F39C12;
  color: #F39C12; }

/* line 15, ../../../components/sass/_resuableCode.scss */
.btn-outline:hover {
  background-color: #F39C12;
  color: white;
  border-color: transparent;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

/* line 22, ../../../components/sass/_resuableCode.scss */
.btn-blank {
  border-color: transparent;
  color: #F39C12; }
  /* line 26, ../../../components/sass/_resuableCode.scss */
  .btn-blank span {
    color: white;
    margin-right: 0.6em; }

/* line 31, ../../../components/sass/_resuableCode.scss */
.btn-blank:hover {
  color: inherit;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  /* line 33, ../../../components/sass/_resuableCode.scss */
  .btn-blank:hover span {
    color: #F39C12; }

/* line 39, ../../../components/sass/_resuableCode.scss */
.section-details {
  margin: 7em 0 5em; }
  /* line 42, ../../../components/sass/_resuableCode.scss */
  .section-details .section-heading {
    text-transform: uppercase;
    font-weight: 300; }
  /* line 47, ../../../components/sass/_resuableCode.scss */
  .section-details .section-info {
    font-size: 1.2em;
    padding: 0 3em; }

/* line 54, ../../../components/sass/_resuableCode.scss */
.underline-center::after, .underline-left::after {
  content: "";
  display: block;
  background: #F39C12;
  height: 1px;
  max-width: 2.3em;
  width: 100%;
  margin: 0.8em auto; }

/* line 64, ../../../components/sass/_resuableCode.scss */
.underline-left::after {
  margin: 0.4em 0; }

/* line 70, ../../../components/sass/_resuableCode.scss */
.tagline {
  text-transform: uppercase;
  font-weight: 800;
  padding-right: 9em; }

/* line 76, ../../../components/sass/_resuableCode.scss */
.info {
  margin: 1.5em 0;
  font-size: 1.2em; }

/* line 1, ../../../components/sass/_landing.scss */
#landing {
  width: 98.93vw;
  height: 100vh;
  color: white; }
  /* line 6, ../../../components/sass/_landing.scss */
  #landing .logo {
    margin: 0.5rem 0 3.7em; }
    /* line 9, ../../../components/sass/_landing.scss */
    #landing .logo img {
      width: 8em;
      height: 3.5em; }
  /* line 16, ../../../components/sass/_landing.scss */
  #landing .heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.4em;
    margin: 1em 0 0.5em; }
  /* line 24, ../../../components/sass/_landing.scss */
  #landing .buttons {
    margin: 6em 0; }
    /* line 26, ../../../components/sass/_landing.scss */
    #landing .buttons .fa {
      font-size: 14px;
      transform: translateY(-25%); }
  /* line 32, ../../../components/sass/_landing.scss */
  #landing .iphone {
    right: 0; }
    /* line 34, ../../../components/sass/_landing.scss */
    #landing .iphone img {
      height: 32em; }

/* line 1, ../../../components/sass/_aboutUs.scss */
#about-us {
  background-color: #F1F1F1; }
  /* line 4, ../../../components/sass/_aboutUs.scss */
  #about-us .section-details {
    margin: 7em 0; }
    /* line 7, ../../../components/sass/_aboutUs.scss */
    #about-us .section-details .section-heading {
      text-transform: uppercase;
      font-weight: 300; }
    /* line 12, ../../../components/sass/_aboutUs.scss */
    #about-us .section-details .section-info {
      font-size: 1.2em;
      padding: 0 3em; }
  /* line 19, ../../../components/sass/_aboutUs.scss */
  #about-us .image {
    padding-left: 3em; }
  /* line 23, ../../../components/sass/_aboutUs.scss */
  #about-us .best-points {
    margin-top: 4em; }
    /* line 26, ../../../components/sass/_aboutUs.scss */
    #about-us .best-points .icon {
      float: left;
      line-height: 7em;
      margin-right: 2em;
      color: #b3b3b3; }
    /* line 33, ../../../components/sass/_aboutUs.scss */
    #about-us .best-points .best-point {
      margin: 2.5em 0; }
      /* line 36, ../../../components/sass/_aboutUs.scss */
      #about-us .best-points .best-point .point h3 {
        font-weight: 800; }
      /* line 40, ../../../components/sass/_aboutUs.scss */
      #about-us .best-points .best-point .point p {
        font-weight: 200;
        font-size: 0.9em; }

/* line 1, ../../../components/sass/_video.scss */
#video {
  background-color: #E4E4E4;
  padding: 8em 0; }
  /* line 5, ../../../components/sass/_video.scss */
  #video .feature {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 12px 2em;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    background-color: transparent;
    border-color: gray; }
    /* line 14, ../../../components/sass/_video.scss */
    #video .feature:hover {
      background-color: #F39C12;
      color: white;
      border-color: transparent;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  /* line 23, ../../../components/sass/_video.scss */
  #video .video iframe {
    height: 115%;
    padding: 5px;
    border: 1px solid gray; }
  /* line 28, ../../../components/sass/_video.scss */
  #video figure {
    margin: 0; }

/* line 1, ../../../components/sass/_testimonial.scss */
#testimonials {
  color: white; }
  /* line 5, ../../../components/sass/_testimonial.scss */
  #testimonials #carousel {
    margin: 6em 0 3em; }
  /* line 9, ../../../components/sass/_testimonial.scss */
  #testimonials .carousel-inner {
    padding-bottom: 3em; }
  /* line 13, ../../../components/sass/_testimonial.scss */
  #testimonials img {
    margin: 0 auto; }
  /* line 17, ../../../components/sass/_testimonial.scss */
  #testimonials .img-thumbnail {
    background-color: transparent;
    border: 3px solid #F39C12;
    padding: 3px; }
  /* line 23, ../../../components/sass/_testimonial.scss */
  #testimonials .name {
    font-weight: 900;
    color: #F39C12; }
  /* line 28, ../../../components/sass/_testimonial.scss */
  #testimonials .job {
    color: #F39C12;
    font-weight: 500;
    font-size: 1.1em; }
    /* line 32, ../../../components/sass/_testimonial.scss */
    #testimonials .job em {
      font-weight: 300;
      color: white; }
  /* line 38, ../../../components/sass/_testimonial.scss */
  #testimonials .testimonal {
    margin: 3em 0; }
  /* line 42, ../../../components/sass/_testimonial.scss */
  #testimonials .carousel-indicators li {
    border-color: #F39C12;
    width: 12px;
    height: 12px; }
  /* line 48, ../../../components/sass/_testimonial.scss */
  #testimonials .carousel-indicators .active {
    background-color: #F39C12; }

/* line 3, ../../../components/sass/_features.scss */
#features .fa {
  color: #F39C12; }
/* line 6, ../../../components/sass/_features.scss */
#features .icon {
  margin-bottom: 2em;
  color: #b3b3b3; }
/* line 11, ../../../components/sass/_features.scss */
#features .icon-right {
  float: right;
  margin-left: 2em; }
/* line 16, ../../../components/sass/_features.scss */
#features .icon-left {
  float: left;
  margin-right: 2em; }
/* line 21, ../../../components/sass/_features.scss */
#features .feature {
  margin: 4em 0; }
  /* line 24, ../../../components/sass/_features.scss */
  #features .feature .feature-detail h3 {
    font-weight: 800;
    text-transform: uppercase; }
  /* line 29, ../../../components/sass/_features.scss */
  #features .feature .feature-detail p {
    font-weight: 200;
    font-size: 0.9em; }
  /* line 35, ../../../components/sass/_features.scss */
  #features .feature .fa-mobile, #features .feature .fa-file-code-o {
    margin: 0 5px 0 10px; }

/* line 1, ../../../components/sass/_download.scss */
#download {
  background-color: #1A1A1A;
  padding: 6em 0;
  color: white; }
  /* line 5, ../../../components/sass/_download.scss */
  #download button {
    color: white;
    background-color: #F39C12; }
    /* line 8, ../../../components/sass/_download.scss */
    #download button:hover {
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
      background-color: #FE6A7F; }

/* line 2, ../../../components/sass/_screenshots.scss */
#screenshots #owl-carousel {
  margin-bottom: 5em; }
  /* line 4, ../../../components/sass/_screenshots.scss */
  #screenshots #owl-carousel .item {
    margin: 0 5em 3em; }
    /* line 6, ../../../components/sass/_screenshots.scss */
    #screenshots #owl-carousel .item img {
      display: block;
      width: 100%;
      height: auto; }
  /* line 13, ../../../components/sass/_screenshots.scss */
  #screenshots #owl-carousel .owl-page span {
    background-color: transparent;
    border: 1px solid #F39C12; }
  /* line 17, ../../../components/sass/_screenshots.scss */
  #screenshots #owl-carousel .owl-page.active span {
    background-color: #F39C12; }

/* line 1, ../../../components/sass/_counter.scss */
#counter {
  padding: 8em 0; }
  /* line 4, ../../../components/sass/_counter.scss */
  #counter .fa {
    color: #F39C12; }
  /* line 8, ../../../components/sass/_counter.scss */
  #counter h2, #counter p {
    font-family: "Source Sans Pro", sans-serif;
    color: #cccccc; }
  /* line 13, ../../../components/sass/_counter.scss */
  #counter h2 {
    font-size: 2.5em; }
  /* line 16, ../../../components/sass/_counter.scss */
  #counter p {
    font-size: 1.2em;
    text-transform: uppercase; }

/* line 2, ../../../components/sass/_downloadNow.scss */
#downloadnow img {
  margin: 0 auto; }

/* line 1, ../../../components/sass/_availableOn.scss */
#availableOn {
  background-color: #1A1A1A; }
  /* line 4, ../../../components/sass/_availableOn.scss */
  #availableOn .details {
    padding: 4.5em 0; }
  /* line 8, ../../../components/sass/_availableOn.scss */
  #availableOn h2, #availableOn p {
    color: white; }
  /* line 12, ../../../components/sass/_availableOn.scss */
  #availableOn .icon {
    padding: 6em 0;
    color: #F39C12;
    border-left: 1px solid #000; }
    /* line 16, ../../../components/sass/_availableOn.scss */
    #availableOn .icon:last-child {
      border-right: 1px solid #000; }

/* line 2, ../../../components/sass/_getInTouch.scss */
#get-in-touch input {
  margin: 1em 0;
  padding: 1.7em 1em; }
/* line 7, ../../../components/sass/_getInTouch.scss */
#get-in-touch .form-control:focus {
  border-color: #F39C12;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f8c573;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f8c573; }
/* line 14, ../../../components/sass/_getInTouch.scss */
#get-in-touch textarea {
  margin: 1em 0;
  padding: 1em; }
/* line 19, ../../../components/sass/_getInTouch.scss */
#get-in-touch .btn-full {
  width: 100%; }
/* line 24, ../../../components/sass/_getInTouch.scss */
#get-in-touch .social {
  margin: 2em 0 4em; }
  /* line 26, ../../../components/sass/_getInTouch.scss */
  #get-in-touch .social i {
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    color: #999999;
    border: 1px solid #999999;
    padding: 0.5em;
    border-radius: 5%;
    margin: 0.5em; }

/* line 1, ../../../components/sass/_subscribe.scss */
#subscribeUs {
  color: white; }
  /* line 4, ../../../components/sass/_subscribe.scss */
  #subscribeUs p {
    color: #b3b3b3; }
  /* line 9, ../../../components/sass/_subscribe.scss */
  #subscribeUs .subscribe-form {
    margin-bottom: 6em; }
    /* line 11, ../../../components/sass/_subscribe.scss */
    #subscribeUs .subscribe-form .email {
      margin-bottom: 1em; }
      /* line 13, ../../../components/sass/_subscribe.scss */
      #subscribeUs .subscribe-form .email input {
        width: 50%;
        background-color: transparent;
        padding: 1em;
        border-width: 0px;
        border-style: inset;
        border-bottom: 1px solid #b3b3b3; }
        /* line 21, ../../../components/sass/_subscribe.scss */
        #subscribeUs .subscribe-form .email input:focus {
          border-color: #F39C12;
          border-width: 1px;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f5b043;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f5b043; }
    /* line 31, ../../../components/sass/_subscribe.scss */
    #subscribeUs .subscribe-form button {
      padding: 12px 4em;
      text-transform: uppercase;
      font-weight: bold; }

/* line 1, ../../../components/sass/_footer.scss */
footer {
  color: white;
  background-color: #1A1D22;
  padding: 4em; }
  /* line 6, ../../../components/sass/_footer.scss */
  footer span {
    color: #F39C12;
    font-weight: bold; }
  /* line 11, ../../../components/sass/_footer.scss */
  footer .copyright, footer .to-top {
    display: inline-block;
    font-weight: 600; }
  /* line 16, ../../../components/sass/_footer.scss */
  footer .to-top {
    background-color: #F39C12;
    padding: 1em 1.5em; }

/*# sourceMappingURL=style.css.map */
